@import "../../../scss/base";

#preview {
  #mockRender {
    &.binary {
      background: url("/assets/img/BinaryMock.png");
    }

    &.entries {
      background: url("/assets/img/EntriesMock.png");
    }
    background-size: auto 175% !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    height: 300px;
  }

  #description {
    position: relative;
    min-height: 150px;

    #descriptionWrapper {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: auto;
      transform: translateY(-50%);
    }
  }
}