#dashboardLayout {
  .primaryContainer {
    display: inline-block;
    vertical-align: top;
    margin: 0;

    &.fullwidth {
      width: 100%;
    }

    &.large {
      width: 60%;
    }

    &.middle {
      width: 50%;
    }

    &.small {
      width: 40%;
    }
  }
}
