@import "../../../scss/base";

#uploadManager {
  padding: 20px;
  box-sizing: border-box;
  margin: 10px 0;

  #notice {
    color: #e83535;
  }

  .uploadSource {
    @extend .successButton;
    display: block;
    padding: 5px 5px;
    width: 100%;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  .ant-tooltip-inner {
    background-color: rgba(0,0,0,.1);
    color: black;
  }
}
