h1 {
    font-weight: 500;
    padding-bottom: 8px;
}

.dashboard{
    h4, span {
        font-family: Maitree, serif;
    }
}

p {
    font-feature-settings: "tnum";
    margin-bottom: 1em;
    color: rgba(0,0,0,.85);
    font-variant: tabular-nums;
}

.ant-table {
    font-feature-settings: "tnum" !important;
}
