@import "../../../scss/base.scss";

#uploadBinaryData {
  .uploadSource {
    border: 1px solid #EAEAEA;
    display: block;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    background-color: $primary-purple;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  .student {
    padding: 10px;

    &:hover {
      span {
        text-decoration: underline !important;
      }
    }

    span.highlight {
      background-color: gold;
    }
  }
}