@import "../../../../scss/base";

#consentEditor {
  position: relative;

  #editorToolbar {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0px;

    width: calc(100% - 10px);
    z-index: 1000 !important;
    text-align: center;
    margin: 10px auto;
    height: auto;

    #save {
      margin: 0;
      float: right;
    }
  }

  #contentWrapper {
    border: 2px solid $primary-red;
    background-color: rgba(255, 110, 90, 0.1);
    margin: 10px auto;
    width: calc(100% - 10px);
    padding: 10px;
    transition: background-color ease-in-out 200ms;

    h1,h2,h3 {
      margin-top: 10px;
    }

    &.up-to-date {
      background-color: rgba(0, 185, 120, 0.1);
      border: 2px solid $primary-green;
    }

    &.saving {
      background-color: rgba(208, 226, 255, 1);
      border: 2px solid #0043ce;
    }
  }
}