@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Note, these first three do not support alpha */
    --primary: 252deg 100% 60%;
    --secondary: 46deg 65% 52%;
    --tertiary: 88deg 37% 40%;

    --secondaryAlpha: 0deg 96% 68%;
    --accent: 233deg 13% 80%;

    --crust: 0deg 0% 100%;
    --mantle: 210deg 29% 97%;
    --base: 210deg 30% 95%;

    --surface0: 252deg 100% 60%;
    --surface1: 0deg 0% 100%;
    --surface2: 0deg 0% 90%;

    --overlay0: 210deg 20% 93%;
    --overlay1: 210deg 29% 97%;
    --overlay2: 210deg 29% 93%;

    --subtext0: 233deg 10% 47%;
    --subtext1: 233deg 13% 41%;
    --text: 0deg 0% 20%;
    --textAlt: 0deg 0% 100%;

    --border0: 233deg 13% 90%;
    --border1: 233deg 13% 80%;

    --success: 123deg 65% 60%;
    --failure: 16deg 98% 50%;
    --meh: 54deg 95% 45%;
  }

  .dark {
    /* Note, these first three do not support alpha */
    --primary: 266deg 85% 58%;
    --secondary: 351deg 74% 73%;
    --tertiary: 88deg 34% 60%;

    --secondaryAlpha: 266deg 85% 58%;
    --accent: 266deg 85% 58%;

    --crust: 236deg 23% 12%;
    --mantle: 233deg 23% 15%;
    --base: 232deg 23% 18%;

    --surface0: 230deg 19% 26%;
    --surface1: 231deg 16% 34%;
    --surface2: 230deg 14% 41%;

    --overlay0: 230deg 12% 49%;
    --overlay1: 228deg 15% 57%;
    --overlay2: 228deg 20% 65%;

    --subtext0: 227deg 27% 72%;
    --subtext1: 228deg 39% 85%;
    --text: 227deg 68% 88%;
    --textAlt: 266deg 60% 85%;

    --border0: 266deg 45% 38%;
    --border1: 266deg 55% 58%;

    --success: 109deg 88% 45%;
    --failure: 347deg 88% 49%;
    --meh: 54deg 88% 45%;
    /*
MIT License
Copyright (c) 2021 Catppuccin

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

 The above copyright notice and this permission notice shall be included in all
 copies or substantial portions of the Software.

 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE. */
  }
}

/* Set up default background and text color */
body {
  background-color: hsl(var(--crust));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: hsl(var(--text));
}

*,
html,
body {
  font-family: Maitree, serif !important;
}

.font-tnum {
  font-feature-settings: 'tnum';
}

/* A modern CSS reset by Piccalil (09-2023) */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* End CSS reset */

.course-selection-tabs {
  .ant-tabs-tab-btn {
    color: hsl(var(--text)) !important;

    &:hover {
      color: hsl(var(--textAlt)) !important;
    }
  }

  .ant-tabs-ink-bar {
    background-color: hsl(var(--surface0)) !important;
  }
}

.custom-popover {
  .ant-popover-inner {
    background-color: hsl(var(--surface1)) !important;
    border: 2px solid hsl(var(--primary)) !important;
  }

  .ant-popover-title {
    color: hsl(var(--text)) !important;
  }
}

.custom-segmented {
  .ant-segmented-item {
    color: hsl(var(--text)) !important;

    &:hover {
      background-color: hsl(var(--overlay0)) !important;
      color: hsl(var(--textAlt)) !important;
    }
  }

  .ant-segmented-item-selected {
    background-color: hsl(var(--surface0)) !important;
    color: hsl(var(--textAlt)) !important;
    border-color: hsl(var(--textAlt)) !important;

    &:hover {
      background-color: hsl(var(--surface0)) !important;
      color: hsl(var(--textAlt)) !important;
    }
  }

  .ant-segmented-thumb {
    background-color: hsl(var(--surface0)) !important;
  }
}

.custom-default-button {
  background-color: hsl(var(--surface1)) !important;
  border-color: hsl(var(--text)) !important;
  color: hsl(var(--text)) !important;

  &:hover {
    background-color: hsl(var(--surface2)) !important;
  }
}

.custom-danger-button {
  background-color: hsl(var(--failure)) !important;
  border-color: hsl(var(--failure)) !important;
  color: hsl(var(--textAlt)) !important;
}

.custom-radio-group {
  .ant-radio-button-wrapper {
    background-color: hsl(var(--surface1)) !important;
    border-color: hsl(var(--text)) !important;
    color: hsl(var(--text)) !important;

    &:hover {
      background-color: hsl(var(--surface2)) !important;
    }
  }

  .ant-radio-button-wrapper-checked {
    background-color: hsl(var(--surface0)) !important;
    border-color: hsl(var(--primary)) !important;
    color: hsl(var(--textAlt)) !important;
  }
}

.ant-switch-checked {
  background-color: hsl(var(--primary)) !important;
}

.custom-checkbox {
  .ant-checkbox .ant-checkbox-inner {
    background-color: hsl(var(--surface1)) !important;
    border-color: hsl(var(--text)) !important;
  }

  .ant-checkbox:hover .ant-checkbox-inner {
    background-color: hsl(var(--surface2)) !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: hsl(var(--primary)) !important;
    border-color: hsl(var(--primary)) !important;
  }
}

.custom-card {
  &:hover {
    box-shadow:
      0 2px 4px hsl(var(--primary)),
      0 3px 10px hsl(var(--primary)) !important;
  }

  .ant-card-body {
    background-color: hsl(var(--surface2)) !important;

    div {
      color: hsl(var(--text)) !important;
    }
  }
}

.custom-table {
  .ant-table-thead > tr > th {
    background-color: hsl(var(--surface1)) !important;
    color: hsl(var(--text)) !important;
    border: 1px solid hsla(var(--text) / 0.3) !important;

    &::before {
      background-color: transparent !important;
    }
  }

  .ant-table-tbody > tr > td {
    background-color: hsl(var(--surface2)) !important;
    color: hsl(var(--text)) !important;
    border: 1px solid hsla(var(--text) / 0.3) !important;
  }

  .ant-pagination-item {
    background-color: hsl(var(--surface1)) !important;
    border-color: hsl(var(--text)) !important;

    &:hover {
      background-color: hsl(var(--surface2)) !important;
    }
  }

  .ant-pagination-item-active {
    background-color: hsl(var(--surface1)) !important;
    border-color: hsl(var(--primary)) !important;
  }

  .ant-pagination-options div {
    background-color: hsl(var(--surface1)) !important;
    color: hsl(var(--text)) !important;
  }

  a {
    color: hsl(var(--text)) !important;
  }

  .anticon-left,
  .anticon-right,
  .anticon-filter {
    color: hsl(var(--text)) !important;
  }

  .ant-table-column-sorter-full {
    color: hsl(var(--text)) !important;
  }

  .ant-table-row-expand-icon {
    background-color: hsl(var(--surface1)) !important;
  }

  .ant-table-row-expand-icon:focus,
  .ant-table-row-expand-icon:hover {
    color: hsl(var(--primary)) !important;
  }
}

.custom-transfer {
  .ant-transfer-list {
    background-color: hsl(var(--surface1)) !important;
    border-color: hsl(var(--text)) !important;

    .ant-transfer-list-header {
      background-color: hsl(var(--surface0)) !important;
      color: hsl(var(--textAlt)) !important;
    }

    .ant-transfer-list-body {
      .ant-transfer-list-content {
        color: hsl(var(--text)) !important;
      }

      .ant-transfer-list-content-item {
        background-color: hsl(var(--surface1)) !important;
        color: hsl(var(--text)) !important;

        &:hover {
          background-color: hsl(var(--surface2)) !important;
        }
      }
    }

    .ant-input-affix-wrapper {
      background-color: hsl(var(--surface1)) !important;
      border-color: hsl(var(--text)) !important;

      &:hover {
        background-color: hsl(var(--surface2)) !important;
        border-color: hsl(var(--primary)) !important;
      }
    }

    .anticon-search {
      color: hsl(var(--text)) !important;
    }

    .anticon-right {
      color: hsl(var(--text)) !important;
    }

    .anticon-delete {
      color: hsl(var(--failure)) !important;
    }
  }

  .ant-transfer-operation {
    .ant-btn {
      background-color: hsl(var(--surface1)) !important;
      border-color: hsl(var(--text)) !important;
      color: hsl(var(--text)) !important;

      &:hover {
        background-color: hsl(var(--surface2)) !important;
        border-color: hsl(var(--primary)) !important;
        color: hsl(var(--textAlt)) !important;
      }
    }
  }
}

.custom-slider {
  .ant-slider-rail {
    background-color: hsl(var(--surface2)) !important;
  }

  .ant-slider-track {
    background-color: hsl(var(--primary)) !important;
  }

  .ant-slider-handle::after {
    background-color: hsl(var(--text)) !important;
    box-shadow: 0 0 0 2px hsl(var(--primary)) !important;
  }

  .ant-slider-handle:focus::after {
    box-shadow: 0 0 0 5px hsl(var(--primary)) !important;
  }
}

.custom-datepicker {
  .ant-picker {
    background-color: hsl(var(--surface1)) !important;
    border-color: hsl(var(--text)) !important;
    color: hsl(var(--text)) !important;

    &:hover {
      border-color: hsl(var(--primary)) !important;
    }
  }

  .ant-picker-selection-placeholder,
  .anticon-calendar,
  .anticon-swap-right {
    color: hsl(var(--text)) !important;
  }
}

.ant-picker-panel-layout {
  background-color: hsl(var(--surface1)) !important;
  border: 1px solid hsl(var(--text)) !important;

  button,
  th,
  td {
    color: hsl(var(--text)) !important;
  }
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled)
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-f7vrd6).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled)
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-f7vrd6).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled)
  .ant-picker-cell-inner {
  background-color: hsl(var(--primary)) !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-picker-dropdown
  .ant-picker-week-panel-row-range-start
  td.ant-picker-cell:before,
:where(.css-dev-only-do-not-override-f7vrd6).ant-picker-dropdown
  .ant-picker-week-panel-row-range-end
  td.ant-picker-cell:before,
:where(.css-dev-only-do-not-override-f7vrd6).ant-picker-dropdown
  .ant-picker-week-panel-row-selected
  td.ant-picker-cell:before,
:where(.css-dev-only-do-not-override-f7vrd6).ant-picker-dropdown
  .ant-picker-week-panel-row-hover
  td.ant-picker-cell:before {
  background-color: hsl(var(--primary)) !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-picker-dropdown .ant-picker-week-panel-row-range-hover td:before {
  background-color: hsl(var(--surface2)) !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-input-number .ant-input-number-handler-up-inner,
:where(.css-dev-only-do-not-override-f7vrd6).ant-input-number .ant-input-number-handler-down-inner {
  color: hsl(var(--text)) !important;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-table-wrapper .ant-table-column-sorter-up.active,
:where(.css-dev-only-do-not-override-f7vrd6).ant-table-wrapper .ant-table-column-sorter-down.active {
  color: hsl(var(--primary)) !important;
}

.ant-select-arrow {
  color: hsl(var(--text)) !important;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  background-color: hsl(var(--surface1)) !important;
  border: 2px solid hsl(var(--primary)) !important;
  color: hsl(var(--text)) !important;
}

.swal2-warning {
  border-color: hsl(var(--meh)) !important;
  color: hsl(var(--meh)) !important;
}

.swal2-error {
  border-color: hsl(var(--failure)) !important;

  .swal2-x-mark-line-left,
  .swal2-x-mark-line-right {
    background-color: hsl(var(--failure)) !important;
  }
}
