@import "../../../../../scss/base";
#learningGoalsManager {
  .goalEntry {
    border: 1px solid $primary-purple;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fafafa;
    position: relative;

    .actions {
      margin-top: 10px;
    }

    .title {
      z-index: 1000;
    }
  }
}