#externalDataManager {
  #illustration {
    width: 100%;
    height: 300px;
    background: url('/assets/img/illustrations/external_data.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}