@import "../../scss/base";

#adminTiles {
  .tileWrapper {
    .tile {
      display: inline-block;
      border: 1px solid $primary-border-color !important;
      margin: 10px !important;
      width: 300px;
      background-color: white;

      &.dragged {
        transition: background-color ease-in-out 300ms;
        background-color: gold;
      }

      &:hover {
        cursor: grab;

        h3 {
          text-decoration: underline;
        }
      }

      .padded {
        padding: 20px;
        box-sizing: border-box;
      }

      div[role="seperator"], .ant-divider {
        margin: 0;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        font-weight: bold;
        font-size: 120%;
      }

      h3 {
        font-weight: bold;
      }
    }
  }
}