#acceptList {
  .student {
    padding: 5px 0;

    &:hover {
      font-weight: bold;
      cursor: pointer;
    }

    &.accepted {
      span {
        font-weight: bold;
        color: var(--primary);
      }
    }
  }
}