@import "@/base.scss";

.learningGoal {
  padding: 10px;
  border: 1px dashed gray;
  border-radius: 8px;
  background-color: white;
  border-color: #d9d9d9;
  margin-bottom: 10px;
  min-height: 100px;

  h2 {
    font-feature-settings: "tnum";
    font-size: 18px;
  }

  .goalRequirement {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
    border-color: #d9d9d9;
    margin-bottom: 10px;

    p {
      margin: 0;
      font-feature-settings: "tnum";
    }
  }
}
