@import "@/base.scss";

.Header {
  padding: 0 20px;
  height: $header-height;
  background-color: $primary-purple;
  display: table;
  width: 100%;
  vertical-align: middle;

  .homebutton {
    line-height: $header-height;
    vertical-align: middle;
  }

  h1, h2 {
    color: white;
    vertical-align: middle;
    line-height: $header-height;
  }

  h1 {
    font-weight: 600;
  }

  h3 {
    color: white;
  }

  h1, #studentPicker {
    display: inline-block;
  }

  .adminButton {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    height: 38px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid white;
    vertical-align: middle;
  }
}

#debugNotice {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid $primary-border-color;
  background-color: $primary-red;
  position: sticky;
  top: 0;
  z-index: 1000;
}
