#demoAnimation {
  #spreadsheet {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    position: relative;

    #wallpaper {
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      background: url("/assets/img/illustrations/predictive_analytics.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    svg {
      rect {
        transition: all ease-out 3s;
      }
    }
  }
}