{
  "experimentalTernaries": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "plugins": ["./node_modules/prettier-plugin-tailwindcss/dist/index.mjs"]
}
