@import "../../../scss/base";

#uploadManager {
  background-color: #323438;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  margin: 10px 0;

  #notice {
    color: #e83535;
  }

  .studentName {
    color: white;
  }

  .uploadSource {
    border: 1px solid #EAEAEA;
    display: block;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    background-color: $primary-purple;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }
}