.syncClock {
  position: relative;
}

.syncClock:before {
  content: '';
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='112' ry='112' stroke='grey' stroke-width='18' stroke-dasharray='1%2c4.5' stroke-dashoffset='25' stroke-linecap='butt'/%3e%3c/svg%3e") !important;
  width: '150%';
  height: '150%';
  position: absolute;
  inset: 0px;
  border-radius: 100%;
}
