@import "../../../../scss/base";

.historicUploadConfirm, .historicUploadCancel {
  border-radius: 2px !important;
}

.historicUploadConfirm {
  background-color: $primary-red !important;
}

.historicUploadCancel {
  background-color: white !important;
  color: black !important;
  border: 1px solid $primary-border-color !important;
}
