@import "../../../scss/base.scss";

#adminMenu {
  #user {
    padding: 20px;
    border-bottom: 1px solid $primary-border-color;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    min-width: 125px;
    white-space: nowrap;
  }
}