@import "../../../../../../../../scss/base";
#dataSourceUpload {
  margin-top: 20px;
  background-color: $primary-green;
  border: 1px solid $primary-border-color;
  padding: 10px;
  display: inline-block;
  color: white;
}